.cardInfo-container {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.card-card img {
  display: block;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  max-width: 600px; 
  width: 100%;     
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.card-card{
  display: flex;
  /* justify-content: space-around; */
  justify-items: space-around;
  justify-content: center;
  flex-wrap: wrap;
}

.individual-card{
  display: flex;
  margin: 10px;
}

.card-text {
  flex: 1;        
}

.card-text h2 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}

.card-text p {
  margin: 0.5rem 0;
  line-height: 1.4;
  text-align: left;
  color: white;
}

.flavor_text {
  font-style: italic
}

#mainPicture{
  height: 680px;
  width: 488px;
}

#smallPictures{
  height: 204px;
  width: 146px;
}

#smallPictures:hover{
  transform: scale(1.05);
}

.card-added-message {
  position: fixed;
  top: 50%;
  left: 45%;
  padding: 15px;
  transform: scale(2);
  background-color: rgba(139, 0, 0, 0.95);
  border-radius: 10px;
  color: white;
  text-align: center;
}