.cardInfo-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.card-image img {
  display: block;
  max-width: 600px; 
  width: 100%;     
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.card-text {
  flex: 1;        
}

.card-text h2 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card-text p {
  margin: 0.5rem 0;
  line-height: 1.4;
  text-align: left;
}

.flavor_text {
  font-style: italic
}