h2,
p {
  text-align: center;
  margin: 10px 0;
  color: white;
}

body {
  font-family: 'Spectral', serif;
  margin: 0;
  padding: 0;
  background: url('./public/images/modern_black.jpg') no-repeat center center fixed;
  background-size: cover;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 0;
  /* max-width: 1200px; */
  margin: 20px auto;
  margin-right: 50px;
  justify-content: center;
}

.card-image {
  position: relative;
  background-color: transparent;
  border-radius: 5px;
  overflow: visible;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index:0;
}

.card-image:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 16px transparent(0,0,0,0.2);
  
}

.card-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.card-image button {
  background: transparent;
  border: none;
  padding: 0;
  width: 100%;
  cursor: pointer;
}
.card-image button:focus,
.card-image button:active {
  outline: none;
  box-shadow: none;
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}





