:root {
  --primary-color: darkred;
  --hover-color: #0056b3;
  --bg-color: black;
  --bg-dark: #333333;
  --text-color: #333;
  --text-light: #fff;
  --font-family: 'Spectral', serif;
  --base-font-size: 16px;
  
}



body {
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  /* background: url("./public/images/modern_black.jpg?v=0");
  background-image: url("./public/images/modern_black.jpg?v=0") no-repeat center center fixed; */
  background: black;
  color: var(--text-color);
  text-align: center;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 2rem;
  color: var(--text-color);
  font-family: 'Cinzel', serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  text-align: center;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: var(--primary-color);
  color: var(--text-light);
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #61000078;
}