.collection-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 20px;
  padding: 40px;
  max-width: 1200px;
  margin: 20px auto;
  justify-content: center;
}

img {
    height: 204px;
    width: 146px;
}

img:hover {
  transform: scale(1.05);
}


button{
    margin: 10px;
}

.remove-all-confirmation {
  position: fixed;
  top: 21%;
  left: 36%;
  padding: 15px;
  transform: scale(1);
  background-color: rgba(139, 0, 0);
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: larger;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 80px;
}

.remove-all-buttons  button {
  border: 1.5px solid;
  border-color: white;
  width: 100px;
}