.collection-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 20px;
  padding: 40px;
  max-width: 1200px;
  margin: 20px auto;
  justify-content: center;
}

img {
    height: 204px;
    width: 146px;
}

img:hover {
  transform: scale(1.05);
}


button{
    margin: 10px;
}